<div class="container mx-auto" style="width: 80vw">
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <% if @user.image? %>
          <%= image_tag @user.image.thumb.url, class: "user-image" %>
        <% else %>
          <%= image_tag "default.jpg", :size => '150x150', class: "mx-auto d-block" %>
        <% end %>
        <div>
          <h3 class="text-center mt-2"><%= @user.name %></h3>
        </div>
        <%= render "relationships/follow_button", user: @user %>
      </div>
      <div class="col-12 col-sm-6 p-0">
        <div class="d-inline-flex">
          <p>レベル：</p>
          <div class="mb-3">
            <p><%= @user.eikenlevel %></p>
            <p><%= @user.toeiclevel %></p>
          </div>
        </div>
        <p class="mb-3" style="word-wrap: break-word;">目標：<%= @user.goal %></p>
        <% if @user == current_user %>
          <div class="border-bottom"><%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-info mb-3" %></div>
        <% end %>
        <p class="mt-3">試験：
          <%= link_to "英語の試験", eiken_words_path, class: "btn btn-success ml-2" %>
          <%= link_to "TIOEC", toeic_words_path, class: "btn btn-warning ml-2" %>
        </p>
      </div>
      <div class="col-12 mt-4">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Vocabulary  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
          <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
          <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
        </ul>
        <%= render 'users', users: @followings %>
      </div>
    </div>
  </div>