<div class="container mx-auto" style="width: 80vw">
  
  <%= form_with(model: @word, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="form-group">
      <%= f.label :eiken, "英検" %>
      <%= f.check_box :eiken %>
    </div>
    
    <div class="form-group">
      <%= f.label :toeic, "Toeic" %>
      <%= f.check_box :toeic %>
    </div>
    
    <div class="form-group">
      <%= f.label :content, "Word" %>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :meaning, "Meaning" %>
      <%= f.text_field :meaning, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :example, "Example" %>
      <%= f.text_field :example, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :translation, "Translation" %>
      <%= f.text_field :translation, class: "form-control" %>
    </div>
    
    <%= f.submit "作成", class: "btn btn-primary btn-block" %>
  <% end %>
  
  <%= link_to "英検の単語一覧", eiken_words_path %>
  <%= link_to "Toeicの単語一覧", toeic_words_path %>
</div>