<div class="container mx-auto" style="width: 80vw">
  <div class="card shadow p-4 text-center text-md-left">
    <div>
      <h1 class="mb-4"><%= @word.content%></h1>
      <p class="mb-3">意味：<%= @word.meaning %></p>
      <p class="mb-3">例文：<%= @word.example %></p>
      <p class="mb-3">和訳：<%= @word.translation %></p>
    </div>
    
    <% if current_user.teacher == false %>
      <%= render "favorites/favorite_button", other_word: @word %>
    <% end %>
    <div class="mb-3">
      <% if current_user.teacher == true %>
        <%= link_to "編集", edit_word_path(@word), class: "btn btn-success" %>
        <%= link_to "削除", @word , method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div>
      <% if params[:eiken] %>
        <%= link_to "一覧ページへ戻る", eiken_words_path %>
      <% elsif params[:toeic]  %>
        <%= link_to "一覧ページへ戻る", toeic_words_path %>
      <% else %>
      <%= link_to "一覧ページへ戻る", likes_user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>